SECRET_KEY=django-insecure-change-me
JWT_SECRET=change-me
DATABASE_URL=postgres://default:CHANGE_ME@YOUR_NEON_HOST/verceldb?sslmode=require
DEBUG=False
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=true
STORAGE_BACKEND=
STORAGE_LOCATION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
NEXT_PUBLIC_PYTHON_API_URL=http://localhost:8000
